WORKSPACE_PATH=./workspace
FASTAPI_RELOAD=false
PANDA_AGI_KEY=
TAVILY_API_KEY=
E2B_API_KEY= # Optional
E2B_TEMPLATE= # Optional
ENV=local   # Optional
OPENAI_API_KEY=your_openai_api_key_here  # Optional